<% include ./partials/header %>

<div class='ui main text container'>
	<br><br>
	<div class="ui huge header">
		<h2>Night Life App</h2>
	</div>
	<div class='ui top attached segment'>
		<blockquote>
                Your Night Life Service App So that you can meet up someone tonight !!!!!
        </blockquote>
	</div>
    <footer class="ui header">@KaranRawat 2016</footer>
</div>



<% include ./partials/footer %>