<% include ./partials/header %>

<div class='ui main text container'>
	<br><br>
	<div class="ui huge header">
		<h2>Your Nodejs App</h2>
	</div>
	<div class='ui top attached segment'>
		<blockquote>
                Start Nodejs with express
        </blockquote>
	</div>
    <footer class="ui header">@KaranRawat 2016</footer>
</div>



<% include ./partials/footer %>